.headerStyle {
    padding: 0;
    height: 64px;
}

.menuStyle{
    height: 64px;
    font-size: 20px;
}

.contentStyle {
    text-align: center;
    min-height: 120;
    line-height: 120px;
    color: #fff;
    background-color: #d9a7a7;
}

.footerStyle {
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #b68686;
    background: linear-gradient(to right, #dcb4b4, #ffa39e);
}

.carouselBox,
.carousel{
    border-radius: 20px;
}

.carousel{
    width: 100%;
    height: 164px;
    background: cover;
    width: calc(100% - 40px); 
    margin: auto; 
    border-radius: 20px;
    overflow: hidden;
}

.side{
    flex: 3;
    background: linear-gradient(to right, #ffa39e, #fffdfc);
    padding: 30px;
    min-height: 70vh;
}

.content{
    flex: 5;
}